.with-welcome-text .navbar .navbar-menu-wrapper .navbar-nav .nav-item .welcome-text {
    margin-bottom: 0;
}

.main-panel .content-wrapper {
    padding-top: 0;
}

.main-panel .content-wrapper .home-tab .dashboard-info .hello{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.main-panel .content-wrapper .home-tab .dashboard-info .date {
    margin-bottom: 3px;
}

.main-panel .content-wrapper .home-tab .dashboard-info .desc {
    margin-bottom: 20px;
}

.main-panel .content-wrapper .home-tab .statistics-table .static-element {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.main-panel .content-wrapper .home-tab .statistics-table .static-element .title-element {
    font-weight: bold;
    margin-bottom: 10px;
}

.main-panel .content-wrapper .home-tab .statistics-table .static-element .price-element {
    font-weight: bold;
    font-size: 25px;
}

.main-panel .content-wrapper .home-tab .statistics-table .static-element .quantity-element {
    font-size: 13px;
    margin-top: 2px;
}

.main-panel .content-wrapper .home-tab .filter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-panel .content-wrapper .home-tab .filter input {
    margin-bottom: 12px;
    outline: none;
    padding:5px 10px;
    padding-right: 20px;
    border:none;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 10px;
}

.main-panel .content-wrapper .home-tab .filter .btn-group button:nth-child(1) {
    margin-right: 0;
    border-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.main-panel .content-wrapper .home-tab .filter .btn-group button:nth-child(1) i {
    margin-right: 10px;
}

.main-panel .content-wrapper .home-tab .filter .btn-group button {
    padding-top:7.8px;
    padding-bottom: 7.8px;
}

.main-panel .content-wrapper .home-tab .btn-wrapper a {
    padding:9.8px 15px;
}

.main-panel .content-wrapper .home-tab .btn-wrapper .button {
    background-color: #b6e7a2;
    text-decoration: none;
    color:black;
}

.main-panel .content-wrapper .home-tab .btn-wrapper .button:hover {
    background-color: #8ed678;
    color: #FFFFFF;
    transition: 0.25s all ease;
}

/* Bills Table */

.main-panel .content-wrapper .home-tab .table-sorter-wrapper {
    margin-top: 3px;
    margin-bottom: 10px;
}

.main-panel .content-wrapper .home-tab .table-sorter-wrapper table {
    border-radius: 15px;
    border-spacing: 0!important;
    overflow: hidden;
}


.main-panel .content-wrapper .home-tab .table-sorter-wrapper table tbody tr td .contact .name{
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 8px;
}

.main-panel .content-wrapper .home-tab .table-sorter-wrapper table tbody tr td .payment .status {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 13px;
}

.main-panel .content-wrapper .home-tab .table-sorter-wrapper table tbody tr td .payment .status i {
    margin-left: 7px;
    font-size: 13px;
}

.main-panel .content-wrapper .home-tab .table-sorter-wrapper table tbody tr td button {
    color:#FFFFFF;
}

.main-panel .content-wrapper .home-tab .table-sorter-wrapper table tbody tr td .function{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* End Bills Table */

/* Dashboard Table */
.main-panel .content-wrapper .home-tab .dashboard-content .table-sorter-wrapper {
    margin-top: 3px;
    margin-bottom: 10px;
}

.main-panel .content-wrapper .home-tab .dashboard-content .table-sorter-wrapper table {
    border-radius: 0;
    overflow:visible;
    margin-top: 15px;
}


.main-panel .content-wrapper .home-tab .dashboard-content .table-sorter-wrapper table tbody tr td .contact .name{
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 8px;
}

.main-panel .content-wrapper .home-tab .dashboard-content .table-sorter-wrapper table tbody tr td .payment .status {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 13px;
}

.main-panel .content-wrapper .home-tab .dashboard-content .table-sorter-wrapper table tbody tr td .payment .status i {
    margin-left: 7px;
    font-size: 13px;
}

.main-panel .content-wrapper .home-tab .dashboard-content .table-sorter-wrapper table tbody tr td button {
    color:#FFFFFF;
}

.main-panel .content-wrapper .home-tab .table-sorter-wrapper table tbody tr td .category-content {
    display: flex;
    align-items: center;
}

.main-panel .content-wrapper .home-tab .table-sorter-wrapper table tbody tr td .category-content img {
    width:30px;
    height: 30px;
    object-fit: cover;
    margin-right: 10px;
}

/* End Dashboard Table */

.main-panel .content-wrapper .home-tab .pagination-item {
    display: flex;
    justify-content: center;
}

.main-panel .content-wrapper .home-tab .pagination-item  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.main-panel .content-wrapper .home-tab .pagination-item  ul li {
    margin-right: 5px;
    margin-left: 5px;
}

.main-panel .content-wrapper .home-tab .pagination-item  ul li a {
    padding:5px 12px;
    color:black;
    border-radius: 5px;
    border: 1px solid grey;
}

.main-panel .content-wrapper .home-tab .pagination-item  ul li a:hover {
    color:#FFFFFF;
    background-color: black;
    border-color: black;
    transition: 0.5s all ease;
}

.main-panel .content-wrapper .home-tab .pagination-item  ul .active a {
    padding:5px 12px;
    color:#FFFFFF;
    background-color: black;
    border-color: black;
}

.main-panel .content-wrapper .home-tab .pagination-item  ul li:first-child {
    margin-left: 0;
}

.main-panel .content-wrapper .home-tab .pagination-item  ul li:last-child {
    margin-right: 0;
}

.sidebar .nav .nav-item .nav-link i.menu-icon {
    font-size: 18px;
}

.main-panel .content-wrapper .home-tab .dashboard-content {
    margin-top: 15px;
    background-color: #FFFFFF;
    padding:20px;
    padding-bottom: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.main-panel .content-wrapper .home-tab .dashboard-content .dashboard-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-panel .content-wrapper .home-tab .dashboard-content .dashboard-top .dashboard-title .up {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.main-panel .content-wrapper .home-tab .dashboard-content .dashboard-top .dashboard-title .down {
    font-size: 14px;
}


.main-panel .content-wrapper .home-tab .dashboard-content .dashboard-top .all button {
    margin:0;
    padding-top:10px;
    padding-bottom: 10px;
    color:#FFFFFF;
    display: flex;
    align-items: center;
}

.main-panel .content-wrapper .home-tab .dashboard-content .dashboard-top .all button i{
    margin-left: 8px;
    font-size: 12px;
}

.main-panel .content-wrapper .home-tab .page-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.main-panel .content-wrapper .home-tab .card .card-body .card-title {
    margin-bottom:10px;
}

.main-panel .content-wrapper .home-tab .card .card-body .create-info {
    margin:0;
    font-size: 13px;
    margin-bottom: 25px;
}

.main-panel .content-wrapper .home-tab .card .card-body .forms-sample button {
    padding:15px 20px;
}

.main-panel .content-wrapper .home-tab .card .card-body .forms-sample .select {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.main-panel .content-wrapper .home-tab .card .card-body .forms-sample .select label {
    font-size: 0.812rem;
    line-height: 1.4rem;
    vertical-align: top;
    margin-bottom: 0.5rem;
}

.main-panel .content-wrapper .home-tab .card .card-body .forms-sample .select .choose {
    border: 1px solid #dee2e6;
    border-radius: 4px;
    height: 2.75rem;
    font-size: 14px;
}

.with-welcome-text .container-scroller .navbar-menu-wrapper .navbar-nav li button {
    border: 1px solid #dee2e6;
    background: #ff0606;
    height: 100%;
    outline:none;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding:8px;
    color:white;
}

.with-welcome-text .container-scroller .navbar-menu-wrapper .navbar-nav li button:hover {
    background:#CC0000;
    transition: 0.25s all ease;
}

